*{
    
    margin: 0;
}
.container
{
    background-color: #0000ff;
    display: block;
}
.container .field-pai
{   
    text-align: center;
    position: relative;
    border: 1px solid #FF0000;
    width: 450px;
    padding: 1px;
    background-color: #00ff00;
}
.container .field-pai .first-div
{
    align-items: flex-end;
    background-color: aqua;
}
.botoes .field-filho
{
    position: relative;
    border: 1px solid #333;
    width: max-content;
    background-color: #333;
}
.field-filho-2
{
    display: flex;
    align-items: center;
    border: 1px solid #333;
    width: 100px;
    
}
.container-2
{
    display: flex;
}
/*----------BOTÕES---------------*/
.field-filho
{
    display: block;
}
.field-filho .botoes
{
    margin: 6px;
    padding-top: 7px;
    padding-bottom: 2em;
}
.field-filho .botoes button
{
    width: 7em; 
    height: 4em;
    padding: 2px;
    margin: 2px;
    
}
.field-filho .botoes  .btn-0
{
    width: 14.4em;
}
.field-filho .botoes .c
{
    position: relative;
    text-align: end;
}

.field-filho-2
{
    display: block;
    text-align: center;
}
.field-filho-2 .botoes
{
    text-align: center;
    margin: 14px 7px;
}
.field-filho-2 .botoes button
{
    width: 6em; 
    height: 3.2em;
    margin: 2px;
}

.digits
{
    font-size: 2em;
}
.digits-1
{
    font-size: 1.5em;
}
/*--------DISPLAY-----------*/
.screen-2
{
    border: 1px solid #fff; 
}
.screen-pai
{
    border: 1px solid #333;
    height: 4em;
    text-align: center;
    margin: 1px;
    padding-bottom: 10px;
}
.screen-pai .screen
{
    display: inline-block;
    text-align: right;
    border: 1px solid #333;
    height: 3em;
    width: 70%;
    margin: 10px;
    border-radius: 5%;   
    white-space: nowrap;
    overflow:hidden;
}
.screen-pai .screen #result
{
    font-size: 30px;
    padding-right: 4px;   
}