

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    display:flexbox;
    
}
:root{
    font-size: 62.5%;
}
body
{
    background-image: url(../assets/images/893194.jpg);
    background-size: contain;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;    
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container .field-pai
{   
    display: inline-block;
    border: 1px solid #AAAAAA;
    
    width: 35.125rem;
    height: 40.375rem;
    padding: 1px;
    background-color: #111111;
    position: relative;
}
.container .field-pai .first-div
{
    display: inline-block;
    
}
.botoes .field-filho
{
    
    background-color: #0a0909;
}
.field-filho-2
{
    display: flex;
    align-items: center;
    width: 10rem;
    
}
.container-2
{
    display: flex;
}
/*----------BOTÕES---------------*/
.field-filho
{
    border: 1px solid #aaaaaa48;
    display: block;
}
.field-filho .botoes
{
    margin: 0.6rem;
    padding-top: 0.7rem;
    padding-bottom: 2rem;
}
.field-filho .botoes button
{
    width: 6rem; 
    background-color: #CC0000;
    width: 7rem; 
    height: 4rem;
    padding: 0.2rem;
    margin: 0.2rem;
    color:#ffffff;
    border: none;
      
}
.field-filho .botoes button:hover,
.field-filho-2 .botoes button:hover
{
    cursor: pointer;
    background-color: rgba(88, 12, 12, 0.849);
    transition: smooth;
}
.field-filho .botoes  .btn-0
{
    width: 14.4rem;
}
.field-filho .botoes .c
{
    position: relative;
    text-align: end;
}

.field-filho-2
{
    border: 1px solid #aaaaaa48;
    background-color: #0a0909;
    display: block;
    text-align: center;
}
.field-filho-2 .botoes
{
    text-align: center;
    margin: 1.4rem 0.7rem;
    
}
.field-filho-2 .botoes button
{
    
    background-color: #CC0000;
    width: 6rem; 
    height: 3.2rem;
    margin: 0.2rem;
    color:#ffffff;
    border: none;    
}
.field-filho-2 .botoes button button:hover
{
    background-color: #ff2600;  
}
.clear, .backspc
{
    background-color: #54095f !important;
}
.clear:hover, .backspc:hover
{
    background-color: rgba(55, 16, 77, 0.733) !important; 
}

.digits
{
    font-weight: bolder;
    font-size: 2rem;
}
.digits-1
{
    font-weight: bolder;
    font-size: 1.5rem;
}
/*--------DISPLAY-----------*/

.screen-pai
{
    background-color: #111010;
    height: 9rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.screen-pai .screen
{
    display: inline-block;
    text-align: right;
    border: 1px solid #aaaaaa48;
    height: 7rem;
    width: 93%;
    margin: 0.5rem;
    border-radius: 5%;   
    white-space: nowrap;
    overflow:hidden;
    padding-top: 2rem;
    background-color:  #0a0909;
}
.screen-pai .screen #result
{
    background-color:  #0a0909;
    display: block;
    font-size: 3rem;
    padding-right: 1.5rem;
    font-weight: 700;
    color:#fff;   
}
.screen-2
{
    height: 2rem;
    padding-top: 1rem;
}
.screen-2 #result-2
{
    color:#fff; 
    font-weight: 500;
    display: block;
    padding-top: 1rem;
    padding-right: 1.5rem;
}

.container a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.9);
    font-size: 15px;
    transition: 0.5s;
    overflow: hidden;
    letter-spacing: 2px;
    background: #161617;
    width: 180px;
    height: 60px;
    margin-top: -30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    border-radius: 6px;


   

    
    

    

}
.container a:hover{
    background: #e94b3cff;
    color: rgba(255,255,255,1);
    box-shadow: 0 0 5px #e94b3cff,
                0 0 25px #e94b3cff,
                0 0 50px #e94b3cff,
                0 0 200px #e94b3cff;
    opacity: 0.9;

}


.container a span{
    position: absolute;
    display: block;
}
.container a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #e94b3cff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.container a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e94b3cff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}

.container a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #e94b3cff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}

.container a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e94b3cff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}






/*====== MEDIA QUERY =======*/

/*=========== SMALL DEVICES ===========*/
@media (max-width: 350px){
    :root {
        font-size: 55.5%;
    }
}
@media (max-width: 350px){
    :root {
        font-size: 50.5%;
    }
}
@media (max-width: 280px){
    :root {
        font-size: 47.5%;
    }
    .container {
        display: grid;
    }
}

/*=========== LARGE DEVICES ===========*/
@media (min-width: 1000px){
    :root {
        font-size: 82.5%;
    }
}